repositoryUrl: https://github.com/StudioLE/Verify.git

branches:
  - name: main
    prerelease: false
  - name: alpha
    prerelease: true
  - name: beta
    prerelease: true

plugins:
- "@semantic-release/commit-analyzer"
- "@semantic-release/release-notes-generator"
- "@semantic-release/github"

